/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  background-color: var(--bg-color);
  background-image: var(--gradient);
  background-size: cover;
  background-attachment: fixed;
  background-position: center; 
  margin-inline: auto;
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-variation-settings: 'wgth' var(--main-font-weight);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0 100px 0;
  border: var(--border);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  font-family: var(--main-font);
  text-transform: uppercase;
  background-color: var(--bg-color);
  padding: clamp(7.125rem, 6.4428rem + 2.9108vw, 9.0625rem) 0 22px;
}

@media (width <=376px) {
  .header {
    padding-bottom: 21px;
  }
}

.content {
  inline-size: min(100%, 700px);
}

.header__title {
  font-size: clamp(3.0625rem, 2.3482rem + 3.0476vw, 4.0625rem);
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-weight: var(--main-font-weight);
  line-height: 63px;
  margin-bottom: clamp(0.75rem, 0.5299rem + 0.939vw, 1.375rem);
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.4732rem + 1.7143vw, 1.4375rem);
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-weight: var(--main-font-weight);
  margin-bottom: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-left: 19px;
}

.theme-menu__button {
  position: relative;
  text-transform: uppercase;
  transition: opacity 0.6s ease;
  background: transparent;
  background-color: transparent;
  border: none;
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-size: 14px;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  left: -20px;
  display: block;
  animation: arrow 0.5s ease-in-out infinite alternate-reverse;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button::after {
  content: '';
  display: block;
  background-color: var(--accent-color);
  transition: inline-size 0.3s ease;
  block-size: 2px;
  inline-size: 0;
}

.theme-menu__button:focus-visible:after {
  inline-size: 100%;
}

.main__card {
  list-style: none;
}

.card {
  display: flex;
  flex-direction: column;
  margin-block-end: 50px;
  border: var(--border);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  font-family: var(--main-font);
  font-size: 0.778em;
  text-transform: uppercase;
  background-color: var(--bg-color);
}

.card__title {
  font-family: var(--main-font);
  color: var(--accent-color);
  text-transform: none;
  font-size: 18px;
  padding: 5px 2px 3px 10px;
  border-bottom: 2px solid var(--accent-color);
  letter-spacing: 0.5px;
  line-height: 1.22em;
  font-variation-settings: 'wgth' var(--accent-font-weight);
  word-spacing: -0.15em;
}

@media (width <=376px) {
  .card__title {
    padding-top: 5.8px;
  }
}

.card-list__image {
  position: relative;
}

.card__image {
  height: auto; 
  object-fit: cover; 
  inline-size: 100%;
  margin-top: 0;
  display: block;
  z-index: 1;
}

.card__label {
  position: absolute;
  color: var(--accent-color);
  opacity: 50%;
  text-shadow: 1px 1px 0 var(--text-shadow-color), -1px -1px 0 var(--text-shadow-color);
  font-size: 14px;
  font-family: var(--accent-font);
  z-index: 2;
  width: 100%;
  line-height: 14px;
  text-align: right;
  inset-block-start: clamp(1.563rem, 1.518rem + 0.188vw, 1.688rem);
  inset-inline-end: clamp(0.688rem, 0.379rem + 1.315vw, 1.563rem);
}

@supports (-webkit-text-stroke: 1px var(--text-shadow-color)) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-shadow-color);
  }
}

.card__grayscale {
  filter: grayscale(80%);
}

.card__invert {
  filter: invert(70%);
}

.card__sepia {
  filter: sepia(50%);
}

.card__saturate {
  filter: saturate(70%);
}

.card__opacity {
  filter: opacity(60%);
}

.card__hue-rotate {
  filter: hue-rotate(60deg);
}

.card__contrast {
  filter: contrast(300%);
}

.card__many {
  filter: contrast(150%) grayscale(70%) sepia(20%);
}

.like-icon .core {
  opacity: 0;
  fill: var(--accent-color);
  transition: opacity 0.3s linear 0.03s, fill 0.3s linear 0.03s;
}

.like-icon .main-body {
  opacity: 0;
  fill: var(--accent-color);
  transition: opacity 0.3s linear, fill 0.3s linear;
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked .core {
  opacity: 1;
  fill: var(--icon-accent-color);
  transition: opacity 0.3s linear, fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  opacity: 1;
  fill: var(--icon-accent-color);
  transition: opacity 0.3s linear, fill 0.3s linear 0.03s;
}

.like-icon.is-liked .contour {
  opacity: 1;
  fill: var(--icon-accent-color);
  transition: opacity 0.3s linear, fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: ico-scale 0.3s ease-in 0.1s alternate;
}

.like-icon.is-liked .sparks {
  animation: ico-sparks 0.3s linear 0.3s;
}

.like-icon:hover .core {
  opacity: 1;
  transition: opacity 0.3s linear, fill 0.3s linear;
}

.like-icon:hover .main-body {
  opacity: 1;
  transition: opacity 0.3s linear 0.05s, fill 0.3s linear;
}

.like-icon:active .core {
  fill: var(--icon-accent-color);
  transition: opacity 0.3s linear, fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--icon-accent-color);
  transition: opacity 0.3s linear 0.05s, fill 0.3s linear 0.05s;
}

.card-list__text {
  font-family: var(--main-font);
  color: var(--accent-color);
  text-transform: none;
  padding: 26px 25px 2px 25px;
  font-variation-settings: 'wgth' var(--main-font-weight);
  border-top: 2px solid var(--accent-color);
}

.card__text {
  padding-bottom: 24px;
  font-size: 18px;
  letter-spacing: 0.75px;
  word-spacing: -0.04em;
}

@media (width <=376px) {
  .card__text {
    letter-spacing: 0.86px;
    word-spacing: -0.08em;
  }
}

.card__text.card__text-paragraph {
  padding-top: 4px;
}

.card__icon-button {
  background-color: transparent;
  border: none;
  block-size: 38px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: border-color 0.3s ease;
  padding: 0;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

.container__button_text {
  text-align: center;
  transition: box-shadow 0.3s ease;
  line-height: 90%;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--button-content-color);
  background-color: var(--bg-color);
}

.container__button_text::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.container__button_text:hover::after {
  transform: scaleX(1);
}
  
.container__button_like {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  margin: 0 25px 25px 0;
  z-index: 1;
}

.button__text {
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: var(--main-font-weight);
  mix-blend-mode: difference;
  position: relative;
  z-index: 10;
}

.card__like-button {
  width: 130px;
  height: 38px;
  border: 2px solid var(--accent-color);
}

.container__button_text:focus {
  outline: none;
}

.container__button_text:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.container__dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--bg-color);
  margin: 0 183px 0 183px;
}

.content__button-dialog {
  gap: 7px;
  inline-size: 336px;
  block-size: 55px;
  border: 2px solid var(--accent-color);
}


.button__floppy-icon {
  z-index: 1;
  inline-size: 21px;
  block-size: 21px;
  mix-blend-mode: difference;
}

@media (width <=376px) {
  .button__floppy-icon {
    inline-size: 28px;
    block-size: 28px;
  }
}

.content__dialog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  transition: opacity 0.3s ease-in-out;
  border: 2px solid var(--accent-color);
  padding: 30px;
  color: var(--accent-color);
  font-family: var(--accent-font);
  background-color: var(--bg-color);
  inline-size: 357px;
  line-height: 21px;
}

@media (width <=376px) {
  .content__dialog {
    inline-size: 341px;
  }
}

@media (width <=376px) {
  .content__button-dialog {
    flex-direction: column;
    inline-size: 310px;
    block-size: 85px;
  }
}

.content__dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.content__dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.dialog__floppy {
  inline-size: 39px;
  block-size: 39px;
}

.dialog__text {
  text-transform: uppercase;
  font-size: 14px;
}

.dialog__button {
  block-size: 38px;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
}

.dialog__button .button__text {
  text-transform: uppercase;
}
