/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --bg-color: #fff;
    --accent-color: #000;
    --accent-font: "PressStart2P", fantasy;
    --main-font: "Inter", sans-serif;
    --main-font-weight: 400;
    --accent-font-weight: 700;
    --difference-color: var(--bg-color);
    --gradient: repeating-linear-gradient(90deg, #d3d3d3 0px 2px, transparent 2px 4px),
    repeating-linear-gradient(#d3d3d3 0px 2px, transparent 2px 4px),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a);
    --border: 2px solid var(--accent-color);
    --button-content-color: #fff;
    --text-shadow-color: #fff;
    --icon-accent-color: #f00;
}